.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 1px black;
}


/* Botones para sumar y restar  */
.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

#contentTable #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

#contentTable #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

#contentTable #input-wrap {
    margin: 0px;
    padding: 0px;
}

input.number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}