#btnFilter {
    color: #6c7ae0;
    border-color: #6c7ae0;
}

#btnFilter:hover {
    background-color: #6c7ae0;
    color:white;
}

.sombra {
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%) !important;
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15) !important;
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%) !important;
    -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15) !important;
    -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15) !important;
    background-color: none;
}

.required::after {
    content: ' *';
    color: crimson;
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Estilos para redondear las tablas */

table tr td:first-child, td:last-child {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

table tbody tr:last-child {
    border-bottom-width: 0;
    border-right-width: 0px;
    border-left-width: 0;
}

table thead tr:first-child {
    border-top-width: 0;
    border-right-width: 0px;
    border-left-width: 0;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
    border-width: 0;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
    border-width: 0;
}

table thead tr:first-child td:first-child {
    border-top-left-radius: 15px;
    border-width: 0;
}

table thead tr:first-child td:last-child {
    border-top-right-radius: 15px;
    border-width: 0;
}

/* Hasta aca las tablas */

#page-container {
    position: relative;
    min-height: 93.2vh;
}

#content-wrap {
    padding-bottom: 5rem; /* Footer height */
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem; /* Footer height */
    padding-left: 15%;
}
